<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    
    <link rel="icon" href="./images/favicon.ico"/>
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
    <title>BikeShop - Home</title>
    </head>
    <body>
        
        <div class="container-fluid">

            <!-- HEADER -->
            <div class="row">

                <nav class=" header col-12 navbar navbar-light bg-dark">
                    <a class="navbar" href="/">
                    <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
                    The Bike Shop Experience
                </a>
                <a class="navbar" href="/shop">
                    <span>
                        <%= items %>
                        <%= dataCardBike.lenght %>
                        <svg class="basket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            ! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.
                            <path d="M171.7 191.1H404.3L322.7 35.07C316.6 23.31 321.2 8.821 332.9 2.706C344.7-3.409 359.2 1.167 365.3 12.93L458.4 191.1H544C561.7 191.1 576 206.3 576 223.1C576 241.7 561.7 255.1 544 255.1L492.1 463.5C484.1 492 459.4 512 430 512H145.1C116.6 512 91 492 83.88 463.5L32 255.1C14.33 255.1 0 241.7 0 223.1C0 206.3 14.33 191.1 32 191.1H117.6L210.7 12.93C216.8 1.167 231.3-3.409 243.1 2.706C254.8 8.821 259.4 23.31 253.3 35.07L171.7 191.1zM191.1 303.1C191.1 295.1 184.8 287.1 175.1 287.1C167.2 287.1 159.1 295.1 159.1 303.1V399.1C159.1 408.8 167.2 415.1 175.1 415.1C184.8 415.1 191.1 408.8 191.1 399.1V303.1zM271.1 303.1V399.1C271.1 408.8 279.2 415.1 287.1 415.1C296.8 415.1 304 408.8 304 399.1V303.1C304 295.1 296.8 287.1 287.1 287.1C279.2 287.1 271.1 295.1 271.1 303.1zM416 303.1C416 295.1 408.8 287.1 400 287.1C391.2 287.1 384 295.1 384 303.1V399.1C384 408.8 391.2 415.1 400 415.1C408.8 415.1 416 408.8 416 399.1V303.1z"/>
                        </svg>
                    </span>
                </a>
            </div>  

            <!-- JUMBOTRON -->
            <div class="row">

                <div class="col-12 jumbotron jumbotron-fluid">
                    <div class="container">
                    </div>
                </div>

            </div>

            <div class="row">
                <% 
                for(let i = 0; i < dataBike.length; i++){
                %>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="<%= dataBike[i].url%>" class="card-img-top">
                            <div class="card-body text-center">
                                <h5 class="card-title"><%= dataBike[i].name%></h5>
                                <%= dataBike[i].price%>€
                                <a href="/add-shop?bikeNameFromFront=<%= dataBike[i].name%>&bikePriceFromFront=<%= dataBike[i].price%>&bikeImageFromFront=<%= dataBike[i].url%>" class="btn btn-outline-info btn-sm">Buy</a>
                            </div>
                        </div>
                    </div>


                <%
                }
                %>
                
                
            </div>
            
        </div>
        


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>